<div class='chroma-bg'>

    <!-- <div id="oshwdem-info">
      <div id="logo-container"></div>
      <div id="info-container">
        <h3>Oshwdem 2017</h3>
        <h4>Competición de Robots {{main.categoryTitle}}</h4>
      </div>
    </div> -->

    <div id="robot-ranking">
      <table id="ranking-container" class="table-sm">
        <tbody>
          <tr class="ranking-line pos-{{$index}}" ng-if="(main.isRaceCategory(main.categorySlug) && !main.isRacePlus(main.categorySlug) && !main.isTourneyCategory(main.categorySlug)) || 
          (main.isRaceCategory(main.categorySlug) && main.isTourneyCategory(main.categorySlug) && !main.tourneyStarted)" ng-repeat="robot in rankingSort(main.robots, 'time').slice(0,main.categoryRankingSize) track by $index">
            <td class="ranking-number">{{$index + 1}}</td>
            <td class="ranking-name" ng-class="{'big-name': $index <= 2 }">{{ robot.name }}</td>
            <td class="ranking-times">
              <table class="times-subtable" ng-if="$parent.$index <= 2">
                <tr class="times-subline" ng-repeat="time in main.bestRobotTimes(robot) track by $index">
                  <td class="time-number">{{$index + 1}}</td>
                  <td align="left">{{main.prettyTime(time)}}</td>
                </tr>
              </table>
              <span align="left" ng-if="$parent.$index > 2"> {{ main.prettyTime(robot.times[main.bestTimeIndex(robot)]) }} </span>
            </td>
          </tr>
          <tr class="ranking-line pos-{{$index}}" ng-if="main.isRaceCategory(main.categorySlug) && main.isRacePlus(main.categorySlug)" ng-repeat="robot in rankingSort(main.robots, 'score').slice(0,main.categoryRankingSize) track by $index">
            <td class="ranking-number">{{$index + 1}}</td>
            <td class="ranking-name">
              <table>
                <tr>
                  <td ng-class="{'small-name': $index > 2 }">{{ robot.name }}</td>
                </tr>
                <tr>
                  <td ng-if="$parent.$index <= 2" class="ranking-icons">
                    <i class="fa fa-recycle recycle" ng-class="{'icon-color': robot.extra.bestRecycled }" aria-hidden="true"></i>
                    <i class="far fa-lightbulb original" ng-class="{'icon-color': robot.extra.bestOriginal }" aria-hidden="true"></i>
                    <i class="fa fa-file onlineDocs" ng-class="{'icon-color': robot.extra.bestOnlineDocs }" aria-hidden="true"></i>
                  </td>
                  <td ng-if="$parent.$index > 2" class="ranking-icons icons-mini">
                    <i class="fa fa-circle recycle" ng-class="{'icon-color': robot.extra.bestRecycled }" aria-hidden="true"></i>
                    <i class="fa fa-circle original" ng-class="{'icon-color': robot.extra.bestOriginal }" aria-hidden="true"></i>
                    <i class="fa fa-circle onlineDocs" ng-class="{'icon-color': robot.extra.bestOnlineDocs }" aria-hidden="true"></i>
                  </td>
                </tr>
              </table>
            </td>
            <td class="ranking-times">
              <table class="times-subtable" ng-if="$parent.$index <= 2">
                <tr class="times-subline" ng-repeat="time in main.bestRobotTimes(robot).slice(0,2) track by $index">
                  <td class="time-number">{{$index + 1}}</td>
                  <td align="left">{{main.prettyTime(time)}}</td>
                </tr>
                <tr class="score-subline">
                  <td class="time-number">Puntos: </td>
                  <td align="left">{{main.racePlusScore(robot)}} pts</td>
                </tr>
              </table>
              <span align="left" ng-if="$parent.$index > 2"> {{ main.prettyTime(main.bestRobotTimes(robot)[0]) }} </span>
              <span class="mini-score" align="left" ng-if="$parent.$index > 2"> {{ main.racePlusScore(robot) }} pts</span>
            </td>
          </tr>
          <tr class="ranking-line pos-{{$index}}" ng-if="(main.isTourneyCategory(main.categorySlug) && !main.isRaceCategory(main.categorySlug)) ||
          (main.isTourneyCategory(main.categorySlug) && main.tourneyStarted)"
          ng-repeat="robot in rankingSort(main.aliveRobots(main.robots), 'tourneyScore').slice(0,main.categoryRankingSize) track by $index">
            <td class="ranking-number">{{$index + 1}}</td>
            <td class="ranking-name">
              <table>
                <tr>
                  <td ng-class="{'small-name': $index > 2 }">{{ robot.name }}
                    <i ng-if="main.tourneyScore(robot).dropped" class="original icon-color fas fa-times"></i>
                  </td>
                </tr>
                <tr>
                  <td ng-if="$parent.$index <= 2" class="ranking-icons">
                    <span>G: {{!main.tourneyScore(robot).won ? 0 : main.tourneyScore(robot).won}} 
                      / P: {{!main.tourneyScore(robot).lost ? 0 : main.tourneyScore(robot).lost}} 
                      / E: {{!main.tourneyScore(robot).draw ? 0 : main.tourneyScore(robot).draw}}</span>
                  </td>
                </tr>
              </table>
            </td>
            <td class="ranking-times"> {{ !main.tourneyScore(robot).currentScore ? 0 : main.tourneyScore(robot).currentScore }} pts </td>
          </tr>

        </tbody>
      </table>
    </div>
</div>
