<h3>Begin Tourney {{ main.categoryTitle }}</h3>
<hr>
<p>
Once started, you won't be able to edit or delete any participant and pairings
are permanent.
Please choose carefully the type of tournament.
</p>
<hr>
<p class="text-right">
  <button class="inline btn btn-danger" ng-click="closeThisDialog()">Cancel</button>
  <button class="inline btn btn-primary"
  ng-click="
  trny.createLeagueMatches(ngDialogData.tourney);
  closeThisDialog()">
  League
  </button>
  <button class="inline btn btn-primary"
  ng-click="
  trny.createSingleTourneyMatches(ngDialogData.tourney);
  closeThisDialog()">
  Single Elimination
  </button>
</p>
