<div id="content-views">
    <div ng-if="main.tourneyStarted">
        <div id="pre-table">
            <div class="pull-left">
              <h3>Torneo {{ main.categoryTitle }}</h3>
              <h4 ng-if="main.roundMatches().length > 0 && main.tourney.rounds.length > 0" >Ronda {{ main.tourney.rounds.length }} </h4>
            </div>
        </div>
        <table ng-if="main.roundMatches().length > 0 && main.tourney.rounds.length > 0" class="table table-striped">
            <thead>
                <th>Bracket</th>
                <th>Robot A</th>
                <th>Robot B</th>
                <th>Resultado</th>
                <th>Ganador</th>
            </thead>
            <tbody>
                <tr ng-repeat="match in main.roundMatches()">
                  <td> {{ match.bracket }} </td>
                  <td> {{ match.robotA.name }} </td>
                  <td> {{ match.robotB.name }} </td>
                  <td> <input class='time-input' min=0, max=9 ng-model="match.resultA" type="number"> //
                    <input class='time-input' min=0, max=9 ng-model="match.resultB" type="number">
                  </td>
                  <td> 
                      {{ match.isDraw ? "EMPATE" : match.winner.name }}
                  </td>
                </tr>
              </tbody>
        </table>
        <div id="post-table">
            <div class="pull-right">
                <a class='btn btn-primary btn-raised' href="#"
                ng-if="main.roundMatches().length > 0"
                ng-click="setScores()">Fijar Resultados</a>
                <a class='btn btn-warning btn-raised' href="#"
                ng-if="main.tourney.rounds.length == 0 || 
                  (main.tourney.rounds.length > 0 && main.roundMatches().length > 0 && main.pendingMatches() == 0)"
                ng-click="main.pairTourneyRoundDialog($event)">Siguiente Ronda</a>
            </div>
            <p ng-if="main.roundMatches().length == 0 && main.tourney.rounds.length > 0"> ¡El torneo ha finalizado! Comprueba la clasificación debajo </p>
          
        </div>
        <hr>
    </div>
    <div id="pre-table">
      <div class="pull-left">
        <h3>Robots {{ main.categoryTitle }}</h3>
      </div>
      <div class="pull-right">
        <a ng-if="!main.raceStarted" class='btn btn-primary btn-raised' href="#" ng-click="main.newRobotDialog($event)">New Robot</a>
        <a ng-if="!main.raceStarted && main.robots.length > 0" class='btn btn-success btn-raised' href="#" ng-click="main.createRaceDialog($event)">Begin Race</a>
        <a ng-if="main.raceStarted && !main.tourneyStarted" class='btn btn-danger btn-raised' href="#" ng-click="main.deleteRaceDialog($event)">Stop Race</a>
        <a ng-if="main.raceStarted && !main.tourneyStarted" class='btn btn-success btn-raised' class='btn btn-success btn-raised' href="#" ng-click="main.createTourneyDialog(true, 'time', true, $event)">Begin Tourney</a>
        <a ng-if="main.tourneyStarted" class='btn btn-danger btn-raised' href="#" ng-click="main.deleteTourneyDialog($event)">Cancel Tourney</a>
      </div>
    </div>
    <table class='table table-striped'>
      <thead>
        <th ng-if="main.raceStarted"> <i class="fa fa-crown"></i> </th>
        <th>Name</th>
        <th colspan=3 ng-if="main.raceStarted && !main.tourneyStarted">Best Times</th>
        <th ng-if="main.tourneyStarted">Best Time</th>
        <th ng-if="main.tourneyStarted">Score</th>
        <th ng-if="main.tourneyStarted">G</th>
        <th ng-if="main.tourneyStarted">P</th>
        <th ng-if="main.tourneyStarted">E</th>
        <th ng-if="main.tourneyStarted">TR</th>
        <th ng-if="main.tourneyStarted">Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="robot in rankingSort(main.robots, (main.tourneyStarted ? 'tourneyScore' : 'time'))">
          <td ng-if="main.raceStarted"> {{ $index+1 }} </td>
          <td>
            <i ng-class="{ 'not-best' : !robot.hasDocumentation }" class="fa fa-file-code"></i>
            {{ robot.name }}
          </td>
          <td ng-if="main.raceStarted"> {{ main.prettyTime(main.bestRobotTimes(robot)[0]) }} </td>
          <td ng-if="main.raceStarted && !main.tourneyStarted"> {{ main.prettyTime(main.bestRobotTimes(robot)[1]) }} </td>
          <td ng-if="main.raceStarted && !main.tourneyStarted"> {{ main.prettyTime(main.bestRobotTimes(robot)[2]) }} </td>
          <td ng-if="main.tourneyStarted"> {{ main.tourneyScore(robot).currentScore }} </td>
          <td ng-if="main.tourneyStarted"> {{ main.tourneyScore(robot).won }} </td>
          <td ng-if="main.tourneyStarted"> {{ main.tourneyScore(robot).lost }} </td>
          <td ng-if="main.tourneyStarted"> {{ main.tourneyScore(robot).draw }} </td>
          <td ng-if="main.tourneyStarted"> {{ main.tourneyScore(robot).trajectory }} </td>
          <td ng-if="main.tourneyStarted"> {{ (main.robotDropped(robot)) ? "Fuera" : "Compitiendo" }} </td>
          <td>
            <a href="#" title="Edit {{ robot.name }}" ng-click="main.editRobotDialog(robot, $event)"><i class="fa fa-edit"></i></a>
            <a href="#" ng-if="!main.raceStarted && !main.tourneyStarted" title="Delete {{ robot.name }}" ng-click="main.deleteRobotDialog(robot, $event)"><i class="fa fa-trash"></i></a>
            <a href="#" ng-if="main.raceStarted && !main.tourneyStarted" title="Manage times for {{ robot.name }}" ng-click="main.manageRobotTimesDialog(robot, $event)"><i class="fa fa-clock"></i></a>
            <a href="#" ng-if="main.raceStarted && !main.tourneyStarted" title="Add time for {{ robot.name }}" ng-click="main.addRobotTimeDialog(robot, $event)"><i class="fa fa-plus"></i></a>
            <a ng-if="main.tourneyStarted && !main.robotDropped(robot)" href="#" title="Drop {{ robot.name }}" ng-click="main.dropRobot(robot)"><i class="fa fa-times"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
    <div id="post-table">
    </div>
  </div>