<div id="content-views">
  <div id="pre-table">
    <div class="pull-left">
      <h3>Robots {{ main.categoryTitle }}</h3>
    </div>
    <div class="pull-right">
      <a class='btn btn-warning btn-raised' ng-click="main.rankingDialog($event)" href="#">Ranking</a>
      <a class='btn btn-success btn-raised' target="_blank" href="{{main.routePath}}/overlay">Overlay!</a>
      <a class='btn btn-primary btn-raised' href="#" ng-click="main.newRobotDialog($event)">New Robot</a>
    </div>
    <div class="pull-right">
    </div>
  </div>
  <table ng-if="main.categoryId < 4" class='table table-striped'>
    <thead>
      <th>Name</th>
      <th colspan="3">Times</th>
      <th >Recycled Materials</th>
      <th >Originality</th>
      <th >Online Documentation</th>
      <th >Retweet Count</th>
      <th >Twitter Best</th>
      <th >Total Score</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr ng-repeat="robot in main.robots">
        <td>{{ robot.name }}</td>
        <td ng-repeat="time in robot.times track by $index" ng-class="{'best-time': $index==main.bestTimeIndex(robot)}">
          {{ main.prettyTime(time) }}
        </td>
        <td><a href="javascript:void(0)" ng-click="main.toggleExtra(robot, 'recycled')">
          <i class="fa fa-star" ng-if="robot.extra.recycled"></i>
          <i class="far fa-star" ng-if="!robot.extra.recycled"></i>
        </a></td>
        <td><a href="javascript:void(0)" ng-click="main.toggleExtra(robot, 'original')">
          <i class="fa fa-star" ng-if="robot.extra.original"></i>
          <i class="far fa-star" ng-if="!robot.extra.original"></i>
        </a></td>
        <td><a href="javascript:void(0)" ng-click="main.toggleExtra(robot, 'onlineDocs')">
          <i class="fa fa-star" ng-if="robot.extra.onlineDocs"></i>
          <i class="far fa-star" ng-if="!robot.extra.onlineDocs"></i>
        </a></td>
        <td><a href="javascript:void(0)" ng-click="main.modRetweet(robot, -1)">
            <i class="fa fa-minus"></i>
          </a>
          {{robot.extra.retweetCount}}
          <a href="javascript:void(0)" ng-click="main.modRetweet(robot, 1)">
            <i class="fa fa-plus"></i>
          </a>
        </td>
        <td >
          <i class="fa fa-star" ng-if="main.isTwitterBest(robot)"></i>
          <i class="fa fa-star-o" ng-if="!main.isTwitterBest(robot)"></i>
        </td>
        <td >{{main.calculateScore(robot)}}</td>
        <td>
          <a href="#" title="Edit {{ robot.name }}" ng-click="main.editRobotDialog(robot, $event)"><i class="fa fa-edit"></i></a>
          <a href="#" title="Delete {{ robot.name }}" ng-click="main.deleteRobotDialog(robot, $event)"><i class="fa fa-trash"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  <div id="post-table">
    <div class="pull-right">
      <a class='btn btn-warning btn-raised' ng-click="main.rankingDialog($event)" href="#">Ranking</a>
      <a class='btn btn-success btn-raised' target="_blank" href="{{main.routePath}}/overlay">Overlay!</a>
      <a class='btn btn-primary btn-raised' href="#" ng-click="main.newRobotDialog($event)">New Robot</a>
    </div>
  </div>
</div>
